.Splash .splash-main-content {
    display: flex;
    justify-content: space-around;
    margin: 50px 1%;
    border-bottom: #05e0ff 2px solid;
}

.Splash .splash-main-image {
    width: 100%;
}

.Splash .splash-content-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.Splash .splash-content-container .content {
    flex-basis: 30%;
    min-height: 250px;
    border-bottom: #05e0ff 2px solid;
    text-align: justify;
}

.Splash .splash-content-container .content img {
    display: block;
    margin: 100px auto;
}

.Splash .filler {
    text-align: center;
    flex-basis: 100%;
    min-height: 300px;
}

.Splash .filler .img {
    margin: 15px;
    height: 28px;
    width: auto;
}

@media screen and (max-width: 1000px) {
    .Splash .splash-content-container {
        flex-wrap: wrap;
    }

    .Splash .splash-content-container .content {
        margin: 1%;
        flex-basis: 40%;
        flex-grow: 1;
    }
}

@media screen and (max-width: 750px) {
    .Splash .splash-content-container {
        flex-direction: column;
    }
}
